@import "var";

/* mixin set */
@mixin flex( $display, $justify-content, $align-items ) {
    display: $display;
    justify-content: $justify-content;
    align-items: $align-items;
}

/* font */
@font-face {
    font-family: GraphikLCGLight;
    src: url(../src/fonts/GraphikLCG-Light.ttf);
}

@font-face {
    font-family: GraphikLCGMedium;
    src: url(../src/fonts/GraphikLCG-Medium.ttf);
}

@font-face {
    font-family: GraphikLCGRegular;
    src: url(../src/fonts/GraphikLCG-Regular.ttf);
}

/* *** */
* {
    font-family: GraphikLCGLight, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}

header {
    @include flex( flex, center, center );
    flex-direction: column;
    margin: 20px auto;
    text-align: center;
    max-width: 1680px;
    width: 100%;
    min-height: 598px;
    height: auto;

    background-image: url(../src/picture/tropiki.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    span {
        font-family: GraphikLCGRegular, Helvetica, sans-serif;
        font-weight: 800;
        font-size: 48px;
        color: white;
        margin: 10px 0;
        width: 90%;
        max-width: 1392px;
        height: auto;
    }

    p {
        font-size: 36px;
        color: white;
        margin: 10px 0;
        width: 90%;
        max-width: 1392px;
        height: auto;
    }
}

    .box-container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 1392px;
        height: auto;
        background-color: transparent;
    }

        .box-icon {
            @include flex( flex, center, center );
            margin: 24px;
            width: 173px;
            height: 76px;
            border: 1px solid white;
            border-radius: 5px;
            cursor: pointer;

            i {
                color: white;
                font-size: 20px;
            }
        }

section {
    @include flex( flex, center, center );
    flex-wrap: wrap;
    margin: 20px auto;
    text-align: center;
    max-width: 1680px;
    width: 100%;
    height: 100%;
}

    .section-container {
        @include flex( flex, center, center );
        flex-direction: column;
        flex-wrap: wrap;
        width: 50%;
        height: 962px;

        span {
            font-family: GraphikLCGRegular, Helvetica, sans-serif;
            font-weight: 800;
            font-size: 36px;
            margin: 10px 0;
            width: 90%;
            height: auto;
        }
    
        p {
            font-size: 24px;
            margin: 10px 0;
            width: 90%;
            height: auto;
        }
    }

        .box-sect-container {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            width: 100%;
            height: auto;
        }

            .box-sect-icon {
                @include flex( flex, center, center );
                margin: 24px;
                width: 173px;
                height: 76px;
                border: 1px solid black;
                border-radius: 5px;
                cursor: pointer;

                i {
                    font-size: 20px;
                }
            }

    .section-card-container {
        @include flex( flex, center, center );
        flex-direction: column;
        flex-wrap: wrap;
        width: 50%;
        height: 962px;
    }

        .card {
            @include flex( flex, center, center );
            flex-direction: column;
            width: 686px;
            min-height: 722px;
            height: auto;
            border: 1px solid black;
        }
    
        .card-img {
            @include flex( flex, center, center );
            width: 100%;
            height: 50%;
    
            background-image: url(../src/picture/tropiki.jpg);
            background-repeat: no-repeat;
            background-size: cover;
        }
    
        .card-txt {
            @include flex( flex, center, center );
            flex-direction: column;
            width: 100%;
            height: 50%;
    
            span {
                font-family: GraphikLCGRegular, Helvetica, sans-serif;
                font-weight: 800;
                margin: 10px;
                font-size: 36px;
                width: 90%;
            }
        
            p {
                font-size: 24px;
                margin: 10px;
                width: 90%;
            }
        }

aside {
    display: flex;
    margin: 20px auto;
    background-color: white;
    max-width: 1680px;
    width: 100%;
    height: 470px;
}

.aside-a {
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.aside-b {
    justify-content: center;
}

.box-pict {
    display: flex;
    width: 44px;
    height: 44px;
    background-color: $acent-b;
}

.aside-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.box-card2 {
    display: flex;
    width: 509px;
    height: 470px;
    background-color: $terciary;
}

@media only screen and ( max-width: 1550px ) {
    header {
        span { font-size: 36px; }
        p { font-size: 24px; }
    }
        .box-container {
            justify-content: center;
            width: 700px;
        }

        .box-sect-container {
            justify-content: center;
            width: 100%;
        }
}

@media only screen and ( max-width: 1400px ) {
    .section-container {
        margin: 24px;
        width: 60%;
        height: auto;
    }

    .section-card-container {
        margin: 24px;
        width: 60%;
        height: auto;
    }

    .card {
        width: 400px;
        height: 550px;
    }
}

@media only screen and ( max-width: 780px ) {
    .box-container {
        width: 500px;
    }

    .box-sect-container {
        width: 500px;
    }

    .section-container {
        width: 100%;
        height: auto;
    }

    .section-card-container {
        width: 100%;
        height: auto;
    }
}

@media only screen and ( max-width: 500px ) {
    .box-container {
        width: 350px;
    }
    .box-icon {
        margin: 15px;
        width: 120px;
        height: 60px;
    }
    .box-sect-container {
        width: 350px;
    }
    
    .box-sect-icon {
        margin: 15px;
        width: 120px;
        height: 60px;
    }

    .card {
        width: 350px;
        height: 400px;
    }
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px auto;
    background-color: white;
    max-width: 1680px;
    width: 100%;
    height: 565px;
}

.footer-content {
    display: flex;
    width: 492px;
    height: auto;
}

.content-form {
    display: flex;
    margin: 20px;
    width: 492px;
    height: auto;
}

input {
    margin: 20px;
    padding: 10px 30px;
}

button {
    width: 250px;
    height: 50px;
}