@import "var";

/* mixin set */
@mixin flex( $display, $justify-content, $align-items ) {
    display: $display;
    justify-content: $justify-content;
    align-items: $align-items;
}

/* font */
@font-face {
    font-family: GraphikLCGLight;
    src: url(../src/fonts/GraphikLCG-Light.ttf);
}

@font-face {
    font-family: GraphikLCGMedium;
    src: url(../src/fonts/GraphikLCG-Medium.ttf);
}

@font-face {
    font-family: GraphikLCGRegular;
    src: url(../src/fonts/GraphikLCG-Regular.ttf);
}

/* *** */
* {
    font-family: GraphikLCGLight, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}

header {
    @include flex( flex, center, center );
    width: 100%;
    height: auto;
    position: absolute;
    z-index: 1
}

.header {
    @include flex( flex, center, center );
    flex-direction: column;
    text-align: center;
    max-width: 1680px;
    width: 100%;
    min-height: 598px;
    height: auto;

    span {
        font-family: 'Smooch', cursive, GraphikLCGRegular, Helvetica, sans-serif;
        font-size: 100px;
        text-shadow: 1px 1px 5px black;
        color: white;
        margin: 10px 0;
        width: 90%;
        max-width: 1392px;
        height: auto;
    }

    p {
        font-size: 36px;
        color: white;
        margin: 10px 0;
        width: 90%;
        max-width: 1392px;
        height: auto;
    }
}

    .box-container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 1392px;
        height: auto;
    }

        .box-icon {
            @include flex( flex, center, center );
            margin: 24px;
            width: 173px;
            height: 76px;
            border: 1px solid white;
            border-radius: 5px;
            cursor: pointer;

            i {
                color: white;
                font-size: 20px;
            }
        }

        .box-icon:hover {
            background-color: white;
            transition: 1s;

            i {
                color: $acent-a;
                font-size: 25px;
            }
        }

.principal {
    @include flex( flex, center, center );
    position: relative;
    z-index: 0;
}

.slider {
    width: 1680px;
    height: 598px;
    border-radius: 10px;
    overflow: hidden;
}

.slides {
    display: flex;
    width: 500%;
    height: 598px;

    input {
        display: none;
    }
}

.slide {
    width: 20%;
    transition: 2s;

    img {
        width: 1680px;
        height: 598px;
    }
}

.navigation-manual {
    position: absolute;
    width: 1680px;
    margin-top: 610px;
    display: flex;
    justify-content: center;

    .manual-btn {
        border: 2px solid $acent-a;
        padding: 5px;
        border-radius: 10px;
        cursor: pointer;
        transition: 1s;
    }

    .manual-btn:not(:last-child) {
        margin-right: 40px;
    }

    .manual-btn:hover {
        background-color: $acent-a;
    }
}

#radio1:checked ~ .first {
    margin-left: 0;
}

#radio2:checked ~ .first {
    margin-left: -20%;
}

#radio3:checked ~ .first {
    margin-left: -40%;
}

#radio4:checked ~ .first {
    margin-left: -60%;
}

.navigation-auto {
    position: absolute;
    display: flex;
    width: 1680px;
    justify-content: center;
    margin-top: 610px;

    div {
        border: 2px solid $acent-a;
        padding: 5px;
        border-radius: 10px;
        transition: 1s;
    }

    div:not(:last-child){
        margin-right: 40px;
    }
}

#radio1:checked ~ .navigation-auto .auto-btn1 {
    background: $acent-a;
}

#radio2:checked ~ .navigation-auto .auto-btn2 {
    background: $acent-a;
}

#radio3:checked ~ .navigation-auto .auto-btn3 {
    background: $acent-a;
}

#radio4:checked ~ .navigation-auto .auto-btn4 {
    background: $acent-a;
}

section {
    @include flex( flex, center, center );
    flex-wrap: wrap;
    margin: 20px auto;
    text-align: center;
    max-width: 1680px;
    width: 100%;
    height: 100%;

    box-shadow: rgba( 0, 0, 0, 0.25 ) 0px 2px 3px;
}

    .section-container {
        @include flex( flex, center, center );
        flex-direction: column;
        flex-wrap: wrap;
        width: 50%;
        height: 962px;

        span {
            font-family: GraphikLCGRegular, Helvetica, sans-serif;
            font-weight: 800;
            font-size: 36px;
            margin: 10px 0;
            width: 90%;
            height: auto;
        }
    
        p {
            font-size: 24px;
            margin: 10px 0;
            width: 90%;
            height: auto;
        }
    }

        .box-sect-container {
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            width: 100%;
            height: auto;
        }

            .box-sect-icon {
                @include flex( flex, center, center );
                margin: 24px;
                width: 173px;
                height: 76px;
                border: 1px solid black;
                border-radius: 5px;
                cursor: pointer;

                i {
                    font-size: 20px;
                }
            }

            .box-sect-icon:hover {
                background-color: $acent-a;
                border: 1px solid $acent-a;
                transition: 1s;
    
                i {
                    color: white;
                    font-size: 25px;
                }
            }

    .section-card-container {
        @include flex( flex, center, center );
        flex-direction: column;
        flex-wrap: wrap;
        width: 50%;
        height: 962px;
    }

        .card {
            @include flex( flex, center, center );
            flex-direction: column;
            width: 686px;
            min-height: 722px;
            height: auto;
            box-shadow: rgba( 0, 0, 0, 0.25 ) 0px 2px 3px;
        }

        .figure {
            @include flex( flex, center, center );
            width: 100%;
            height: 50%;
            overflow: hidden;
        }
    
        .card-img {
            @include flex( flex, center, center );
            width: 100%;
            height: 100%;
    
            background-image: url(../src/picture/tropiki_more_skaly_90638.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            cursor: pointer;
            transform: scale(1);
            transition: 0.3s ease-in-out;
        }

        .card-img:hover {
            transform: scale(1.2);
        }
    
        .card-txt {
            @include flex( flex, center, center );
            flex-direction: column;
            width: 100%;
            height: 50%;
    
            span {
                font-family: GraphikLCGRegular, Helvetica, sans-serif;
                font-weight: 800;
                margin: 10px;
                font-size: 36px;
                width: 90%;
            }
        
            p {
                font-size: 24px;
                margin: 10px;
                width: 90%;
            }
        }

aside {
    @include flex( flex, center, center );
    flex-direction: column;
    margin: 20px auto;
    width: auto;
    height: auto;
}

    .aside-container {
        @include flex( flex, center, center );
        flex-direction: column;
        margin: 20px auto;
        max-width: 1680px;
        width: 100%;
        height: 470px;

        box-shadow: rgba( 0, 0, 0, 0.25 ) 0px 2px 3px;

        span {
            font-family: GraphikLCGRegular, Helvetica, sans-serif;
            font-weight: 800;
            margin: 10px;
            text-align: center;
            font-size: 36px;
            width: 90%;
        }
    
        .box-pict {
            display: flex;
            width: 44px;
            height: 44px;
            border-radius: 22px;
            background-color: $acent-b;

            background-image: url(../src/picture/mujer_business.jpg);
            background-repeat: no-repeat;
            background-size: cover;
        }
    
        p {
            font-size: 24px;
            text-align: center;
            margin: 10px;
            width: 90%;
        }
    }

    .aside-container-b {
        @include flex( flex, center, center );
        margin: 20px auto;
        max-width: 1680px;
        width: 100%;
        min-height: 470px;
        height: auto;

        box-shadow: rgba( 0, 0, 0, 0.25 ) 0px 2px 3px;

        background-color: antiquewhite;

        span {
            font-family: GraphikLCGRegular, Helvetica, sans-serif;
            font-weight: 800;
            margin: 10px;
            text-align: left;
            font-size: 36px;
            width: 90%;
        }
    
        .box-pict-b {
            display: flex;
            width: 44px;
            height: 44px;
            border-radius: 22px;
            background-color: $acent-b;

            background-image: url(../src/picture/mujer_business.jpg);
            background-repeat: no-repeat;
            background-size: cover;
        }
    
        p {
            font-size: 24px;
            text-align: left;
            margin: 10px;
            width: 90%;
        }
    }

.aside-txt {
    @include flex( flex, center, center );
    flex-direction: column;

    span {
        font-family: GraphikLCGRegular, Helvetica, sans-serif;
        font-weight: 800;
        margin: 10px;
        text-align: center;
        font-size: 36px;
        width: 90%;
    }

    .box-pict-b {
        display: flex;
        width: 44px;
        height: 44px;
        border-radius: 22px;
        background-color: $acent-a;
    }

    p {
        font-size: 24px;
        text-align: center;
        margin: 10px;
        width: 90%;
    }
}

.aside-img {
    display: flex;
    width: 509px;
    height: 470px;

    background-image: url(../src/picture/okean_gorizont.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

footer {
    @include flex( flex, center, center );
    flex-direction: column;
    margin: 20px auto;
    max-width: 1680px;
    width: 100%;
    height: 565px;

    background-image: url(../src/picture/tropiki.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    box-shadow: rgba( 0, 0, 0, 0.25 ) 0px 2px 3px;

    span {
        font-family: GraphikLCGRegular, Helvetica, sans-serif;
        font-weight: 800;
        margin: 15px;
        text-align: center;
        font-size: 20px;
        width: 90%;
    }
}

.container-form {
    display: flex;
    margin: 20px;
    width: 492px;
    height: auto;
}

form {
    @include flex( flex, center, center );
    flex-direction: column;

    input {
        width: 360px;
        height: 60px;
        font-size: 15px;
        padding: 0 30px;
        border-radius: 5px;
        border: 1px solid $primary;
    }
    
    button {
        width: 420px;
        height: 60px;
        margin: 12px;
        font-size: 15px;
        color: white;
        background-color: black;
        border-radius: 5px;
        border: none;
        cursor: pointer;
    }
}

@media only screen and ( max-width: 1550px ) {
    .header {
        span { font-size: 60px; }
        p { font-size: 24px; }
    }
        .box-container {
            justify-content: center;
            width: 700px;
        }

        .box-sect-container {
            justify-content: center;
            width: 100%;
        }
    
    .slider {
        width: 100%;
        height: 598px;
    }
    
    .slide {
        img {
            width: 100%;
            height: 598px;
        }
    }

    .navigation-manual {
        width: 100%;
    }
    
    .navigation-auto {
        width: 100%;
    }
}

@media only screen and ( max-width: 1400px ) {
    .section-container {
        margin: 24px;
        width: 60%;
        height: auto;
    }

    .section-card-container {
        margin: 24px;
        width: 60%;
        height: auto;
    }

    .card {
        width: 400px;
        height: 550px;
    }

    .aside-container-b {
        flex-wrap: wrap;
    }
}

@media only screen and ( max-width: 780px ) {
    .box-container {
        width: 500px;
    }

    .box-sect-container {
        width: 500px;
    }

    .section-container {
        width: 100%;
        height: auto;
    }

    .section-card-container {
        width: 100%;
        height: auto;
    }

    .aside-img {
        width: 350px;
        height: 350px;
    }
}

@media only screen and ( max-width: 500px ) {
    .header {
        span { font-size: 50px; }
    }
    .box-container {
        width: 350px;
    }
    .box-icon {
        margin: 15px;
        width: 120px;
        height: 60px;
    }
    .box-sect-container {
        width: 350px;
    }
    
    .box-sect-icon {
        margin: 15px;
        width: 120px;
        height: 60px;
    }

    .card {
        width: 350px;
        height: 400px;
    }

    form {
        input {
            width: 290px;
            padding: 0 15px;
        }
        
        button {
            width: 320px;
        }
    }
}